{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Calendar Main</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_calendar.css' %}">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            const prevButton = document.getElementById('prev-month');
            const nextButton = document.getElementById('next-month');
            const monthYearDisplay = document.getElementById('month-year');
            const calendarDays = document.getElementById('calendar-days');
            const eventsContainer = document.getElementById('events-container');

            const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

            let currentMonth = {{ month }};
            let currentYear = {{ year }};
            const todayDay = new Date();

            function updateCalendar(month, year) {
                fetch(`/get_calendar_days/?month=${month}&year=${year}`)
                    .then(response => response.json())
                    .then(data => {
                        calendarDays.innerHTML = '';
                        eventsContainer.innerHTML = '';
                        data.days.forEach(day => {
                            const dayElement = document.createElement('div');
                            dayElement.textContent = day.day;

                            if (!day.current_month)
                            {
                                dayElement.classList.add('not-current-month');
                            }

                            if(day.day === todayDay.getDate() && month === todayDay.getMonth()+1 && year === todayDay.getFullYear())
                            {
                                const dot = document.createElement('span');
                                dot.className = 'today-dot';
                                dayElement.appendChild(dot);
                            }

                            calendarDays.appendChild(dayElement);
                        });
                        monthYearDisplay.textContent = `${monthNames[data.month-1]} ${data.year}`;
                        
                        data.events.forEach(event => {
                            const eventElement = document.createElement('div');
                            eventElement.innerHTML = `<span class="event-description">${event.title}: ${event.description} (Day: ${event.date}) </span>
                            <a href=" " class="delete-event" data-title='${ event.title }'>Delete event</a>`;
                            eventsContainer.appendChild(eventElement);
                        });
                    });
            }

            prevButton.addEventListener('click', function() {
                currentMonth--;
                if (currentMonth < 1) {
                    currentMonth = 12;
                    currentYear--;
                }
                updateCalendar(currentMonth, currentYear);
            });

            nextButton.addEventListener('click', function() {
                currentMonth++;
                if (currentMonth > 12) {
                    currentMonth = 1;
                    currentYear++;
                }
                updateCalendar(currentMonth, currentYear);
            });

            document.addEventListener('click', function(event) {
                if (event.target.classList.contains('delete-event')) {
                    const event_id = event.target.getAttribute('data-title');
                    console.log("event_id:", event_id);

                    if (event_id){
                    if (confirm('Are you sure you want to delete this event?')) {
                        fetch(`/del_event/${event_id}/`, {
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': csrfToken, // Przekazanie tokena CSRF
                                'Content-Type': 'application/json'
                            },
                        }).then(response => {
                            if (response.ok) {
                                event.target.parentElement.remove(); // Usunięcie elementu z DOM
                                Location.reload();
                            } else {
                                alert('Failed to delete event.');
                                console.log(event.event_id)
                            }
                        });
                    
                } else if (!event_id) {
                    alert('Event ID is undefined!');
                }
            }
        }
        });

            updateCalendar(currentMonth, currentYear);
        });
    </script>
</head>
<body>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <div class="panel">
        <div class="welcome-text">
            {%if user%}
                <p>Welcome: {{ user }}</p>
            {%endif%}
        </div>
        <div class="weather">
            <p>Today in: {{ weather.city }}:  <span>{{ weather.temperature }}°C</span></p>
            <p>{{ weather.description }}</p>
        </div>
        <div class="button-container">
            <button class="button logout" onclick="location.href = '/logout';">LOG OUT</button>
        </div>
    </div>
    <div class="calendar-container">
        <div class="month-nav">
            <button id="prev-month">Previous</button>
            <span id="month-year">{{ month }} {{ year }}</span>
            <button id="next-month">Next</button>
        </div>
        <div class="calendar">
            <div class="day-header">
                <div>Monday</div>
                <div>Tuesday</div>
                <div>Wednesday</div>
                <div>Thursday</div>
                <div>Friday</div>
                <div>Saturday</div>
                <div>Sunday</div>
            </div>
            <div id="calendar-days" class="days"></div>
            <div>
                <button class="button add-event" onclick="location.href= '/add_event';">Add Event</button>
            </div>
        </div>
        <div id="events-container">
            {% for event in events %}
            <div>
                <strong>{{ event.title }}</strong>:
                <a href="#" class="delete-event" data-title="{{ event.title }}">Delete event</a>

            </div>
            {% endfor %}    
        </div>
    </div>
</body>
</html>
