{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>HOME</title>
</head>
<body>
    {% block content %}
    <div class="container">
        <h2> WELCOME IN SMART CALENDAR</h2>
        <p> Status: {{ userStatus }}</p>
        {%if user%}
            <p>Logged in as: {{ user }}</p>
        {%endif%}
        {% comment %} <link rel= "stylesheet" type="text/css" href="{% static 'css/styles_home.css' %}"> {% endcomment %}
    </div>
    {% endblock %}
</body>
</html>