{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>HOME</title>
   <link rel= "stylesheet" type="text/css" href="{% static 'css/styles_home.css' %}">
</head>
<body>
    <div class="welcome">
        <div class="title">
            <h2> WELCOME IN SMART CALENDAR</h2>
        </div>
        <div class="button-container">
            <button class="button login" onclick="location.href = '/login';"><span>LOG IN</span></button>
            <button class="button signup" onclick="location.href = '/signup';"><span>SIGN UP</span></button>
        </div>
            
    </div>
    
</body>
</html>