body {
    /* background-image: url('../images/login_back.png'); */
    background-color: rgb(46, 45, 45);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; /*fit to window size */
}

header {
    color: white;
    text-align: center;
    font-size: 100px;
    padding: 10px;
    padding-bottom: 80px;
}

label {
    color: white;
    display:block;
    width: 260px;
    padding: 20px 5px;
    font-size: 20px;
    text-shadow: 0 0 1px black;
}

#panel
{
    width: 395px;
    margin: 0 auto;
    padding: 5px 5px 5px;
    background: rgb(46, 45, 45);
    border: 1px solid silver;
    font: 16px calibri;
    letter-spacing: -1px;
    -webkit-box-shadow: 0 0 2px silver; 
    -moz-box-shadow: 0 0 2px silver; 
    box-shadow: 0 0 2px silver;
}
form {
    margin: 0 auto;
}

#username, #password{
    display: block;
    width: 390px;
    margin: 0 auto;
    padding: 10px 0;
    border: 1px solid rgb(46, 45, 45);
    outline: 1px solid rgb(46, 45, 45);
    font-size: 22px;
    text-align: left;
}
#username:focus, #password:focus {
    outline: 5px solid rgb(46, 45, 45);
}

#lower {
    background: #ecf2f5;
    width: 360px;
    padding: 5px 20px;
    margin-top: 20px;
}

.check {
    display: inline;
    float: none;
    font-size: 18px;
    padding: 10px 10px;
}

input[type="submit"] {
    width: 70px;
    padding: 5px;
    border: 1px solid #005f85;
    color: black;
    background:white;
    position: relative;
    left: 180px;
}

#panel, input[type="submit"]{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
} 