{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>LOGIN</title>
   <link rel= "stylesheet" type="text/css" href="{% static 'css/styles_login.css' %}">
</head>
<body>
    <header> LOG INTO CALENDAR</header>
    <div id="panel">
        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <p><a href="#">Forgot password?</a></p>

            <div id="lower section">
                <input type="checkbox">
                <label class="check" for="checkbox">Remember me</label>
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
</body>
</html>  

